@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    position: relative;
    height: 100vh;
}
.header__slider{
    &-item{
        height: 100vh;
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

.slider-item__info{
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}
.slider-item__info-suptitle{
    margin-bottom: 5px;
}
.slider-item__info-suptext{
    margin-bottom: 8px;
}
.slider-item__info-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
}
.slider-item__info-text{
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
}
.slider-arrows{
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}
.slider-arrows-left{
    right: 125px;
}
.slider-dots{
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    color: #fff;
    .slick-current{
        .dots-box{
            border-top: 4px solid $green;
        }
    }
}
.dots-box{
    width: 200px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    &__number{
        font-weight: 800;
        font-size: 24px;
        line-height: 34;
    }
    &__name{
        font-weight: 300;
        line-height: 19px;
    }
}
.header__aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, .25);
    height: 100vh;
    text-align: center;
    color: #fff;
}
.header__title{
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.menu{
    padding-top: 40px;
    a{
        span{
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 20px;
        }
    }
}
.header__search{
    padding: 15px 0 35px;
    cursor: pointer;
}
.header__date{
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    span{
        padding-top: 15px;
        margin-bottom: 30px;
        display: block;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
    }
}
.header__location{
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 19px;
    &::before{
        content: "";
        position: absolute;
        width: 11px;
        height: 13px;
        left: 0;
        top: 0;
        background-image: url(../images/marker.svg);
    }
}
.header__map{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}
.header__arrows{
    position: absolute;
    left: 210px;
    bottom: 30px;
    z-index: 3;
}
.line-animation{
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}
@keyframes animdash{
to{
    stroke-dashoffset: 0;
}
}




@import "media";
